
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.8em;
  margin: 10px 0 5px 0;
}

header {
  padding: 2px;
  min-height: 30px;
  text-align: center;
  font-size: large;
  height: 100px;
  width: 100%;
  float: left;
  font-family: Helvetica, sans-serif;
  background-color: rgba(194, 194, 194, 0.68);
}

a {
  color: #00B7FF;
}

#logo {
  text-decoration: none;
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

header h1 {
  text-align: -webkit-right;
  color: #55aade;
  padding: 50px 10px 10px 10px;
  margin-right: 10px;
}

#navigation-menu a {
  float: right;
  display: block;
  color: white;
  text-align: left;
  padding: 10px 15px;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  text-emphasis-color: white;
  margin-top:-2px;
}

#navigation-menu a:hover {
  background-color: #00B7FF;
  color:black;
}

#navigation-menu {
  width: 150%;
  padding: 10px;
  /*text-align: -moz-center;*/
  background-color: #72879e;
  border-bottom: 2px solid #55aade;
  height: 30px;
  font-weight: bold;
  float: right;
}


#content-wrapper {
  padding: 10px 10px 10px 10px;
  margin-bottom: 35px;
  font-family: Helvetica, sans-serif;
}

.clear {
  clear: both;
}

footer {
  text-align: left;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #55aade;
  color: #ffffff;
  font-size: 0.9em;
  padding: 2px;
  height: 30px;
}

#content {
  margin-top: 50px;
  padding-left: 220px;
  float: left;
  width: 70%;
  font-family: Helvetica, sans-serif;
}

#search {
  padding: 4px;
  width: 300px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
  background-color: #55aade;
  color: white;
}
.add-form {
  padding: 10px 0;
}
.add-form a {
  text-decoration: none;
}
.add-form tr:hover {
  background-color: #ddd;
}

.add-form td input {
  width: 100%;
  padding: 4px;
}
.add-form button {
  padding: 2px 4px;
  min-width: 30px;
}
